h1 {
 text-align:center;
    color: white;
} 

h2 {
  text-align:center;
  color: white;
}

.button {
  margin: 5 px;
  
  text-align:center;
}

.img {
     margin-left: auto;
    margin-right: auto;
  display: block; 
  
  border-top: 10 em;;
}

p {
  
  text-align:center;
}

img {
  margin-top: 10px;
  width: 600px; 
  
} 


body {
  
  background-size: 1500px
  
}